@font-face {
    font-family: 'bonvenocflight';
    src: url('BonvenoCF-Light-webfont.eot');
    src: url('BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('BonvenoCF-Light-webfont.woff2') format('woff2'),
         url('BonvenoCF-Light-webfont.woff') format('woff'),
         url('BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'greyscalebasicbold';
    src: url('Greyscale_Basic_Bold-webfont.eot');
    src: url('Greyscale_Basic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Greyscale_Basic_Bold-webfont.woff2') format('woff2'),
         url('Greyscale_Basic_Bold-webfont.woff') format('woff'),
         url('Greyscale_Basic_Bold-webfont.ttf') format('truetype'),
         url('Greyscale_Basic_Bold-webfont.svg#greyscalebasicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'greyscalebasicregular';
    src: url('Greyscale_Basic_Regular-webfont.eot');
    src: url('Greyscale_Basic_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Greyscale_Basic_Regular-webfont.woff2') format('woff2'),
         url('Greyscale_Basic_Regular-webfont.woff') format('woff'),
         url('Greyscale_Basic_Regular-webfont.ttf') format('truetype'),
         url('Greyscale_Basic_Regular-webfont.svg#greyscalebasicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'new_ciclefina';
    src: url('New_Cicle_Fina-webfont.eot');
    src: url('New_Cicle_Fina-webfont.eot?#iefix') format('embedded-opentype'),
         url('New_Cicle_Fina-webfont.woff2') format('woff2'),
         url('New_Cicle_Fina-webfont.woff') format('woff'),
         url('New_Cicle_Fina-webfont.ttf') format('truetype'),
         url('New_Cicle_Fina-webfont.svg#new_ciclefina') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'perspective_sansregular';
    src: url('persans-webfont.eot');
    src: url('persans-webfont.eot?#iefix') format('embedded-opentype'),
         url('persans-webfont.woff2') format('woff2'),
         url('persans-webfont.woff') format('woff'),
         url('persans-webfont.ttf') format('truetype'),
         url('persans-webfont.svg#perspective_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'new_ciclegordita';
    src: url('New_Cicle_Gordita-webfont.eot');
    src: url('New_Cicle_Gordita-webfont.eot?#iefix') format('embedded-opentype'),
         url('New_Cicle_Gordita-webfont.woff2') format('woff2'),
         url('New_Cicle_Gordita-webfont.woff') format('woff'),
         url('New_Cicle_Gordita-webfont.ttf') format('truetype'),
         url('New_Cicle_Gordita-webfont.svg#new_ciclegordita') format('svg');
    font-weight: normal;
    font-style: normal;
}
.conteneur
{
	justify-content: space-between;
	flex-direction: row;
	display: flex;
}
.blocGauche
{
	display: flex;
	flex-direction: column;
	width: 55%;
	background-color: #E64A19;
}
.blocGauche h2
{
	font-family: 'greyscalebasicregular', serif;
	font-size: 32px;
}
.photo
{
	border-radius: 50%;
 	border:5px solid #BF360C;
	background: url('Image1_miniature.png') no-repeat;
	display: block;
	margin: auto;
	width:170px;
	height:170px;
	border:5px solid #BF360C;
	margin-bottom: 50px;
	margin-top: 75px;
}
.contact h2, .aProposDeMoi h2, #loisirs h2
{
	background-color: #4E342E;
	width: 100%;
	height: 40px;
	text-align: center;
	color: #D84315;
}
.contact p
{
	color: #3E2723;
	font-family: 'perspective_sansregular';
	font-size: 17px;
	padding-left: 30px;
}
.contact a
{
	color: #3E2723;
	text-decoration: none;
	font-style: italic;
}
.contact a:hover
{
	text-decoration: underline;
	color: #A1887F;
}
.aProposDeMoi p
{
	color: #3E2723;
	font-family: 'perspective_sansregular';
	font-size: 17px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: justify;
}
#loisirs
{
	margin-top: 175px;
}
#iconsLoisirs
{
	display: flex;
	font-size: 60px;
	justify-content: space-around;
}
#iconsLoisirs i
{
	padding-top: 5px;
	text-align: center;
	opacity: 0.5;
	border-radius: 50%;
	width:73px;
	height:73px;
   	border:3px solid;
}
.blocDroit
{   
	margin-left: 70px;
	margin-top: 30px;
	font-family: 'perspective_sansregular', serif;
}
header
{
	padding-bottom: 30px;
}
header h2 span
{
	font-family: 'new_ciclegordita', serif;
	color: #D84315;
	font-size: 80px;
	font-weight: bold;
}
header h2
{
	color:#4E342E;
	font-size: 70px;
	font-family: 'new_ciclefina', serif;
}
h1
{
	font-family: 'bonvenocflight', serif;
	font-size: 25px;
}
h1 span
{
	border-bottom: 2px #D84315 solid ;
}
.blocFormations h3, .blocExperience h3, .blocRecommandation h3
{
	font-family: 'greyscalebasicregular', serif;
	font-size: 32px;
	font-weight: bold;
	border-bottom: 2px #D84315 solid ;
}
.blocFormations h3 i, .blocExperience h3 i, .blocRecommandation h3 i
{
	color: #D84315;
}
.formations, .emploi
{
	display: flex;
	flex-wrap: nowrap;
}
.dateLieuFirst
{
	display: flex;
	justify-content: space-between;
	width: 20%;
	height: 20%;
	margin-top: 3%;
}
.dateLieu
{
	display: flex;
	justify-content: space-between;
	width: 13%;
	height: 20%;
	margin-top: 3%;
}
.formateurFirst
{
	margin-left: 90px;
	width: 60%;
	height: 40%;
}
.formateur, .employeur
{
	margin-left: 150px;
	width: 60%;
	height: 40%;
}
.dateLieu span, .dateLieuFirst span
{
	font-family: 'perspective_sansregular', serif;
	font-size: 15px;
	font-weight: bold;
}
.formateur, .employeur, .formateurFirst
{
	font-family: 'greyscalebasicbold', serif;
	color: #4E342E;
}
.formateur h4, .formateurFirst h4, .employeur h4
{
	font-size: 24px;
	font-weight: bolder;
	color: #4E342E;
	margin-bottom: 10px;
}
.formateur h5, .formateurFirst h5, .employeur h5
{
	font-size: 20px;
	color: #4E342E;
	margin-top: 10px;
	margin-bottom: 10px;
}
.formateur p, .formateurFirst p, .employeur p
{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.icon 
{
	color: #D84315;
}
.recommandations
{
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	color: #4E342E;
}
.recommandations h4
{
	font-size: 21px;
	color: #4E342E;
	margin-bottom: 15px;
}
.recommandations h5, .recommandations span
{
	font-size: 15px;
	color: #4E342E;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
@media (max-width: 800px)

{
	.conteneur
		{
			width :100% ;
			padding :0px ;
			flex-direction: column;
		}
	.blocGauche
		{
			width :100% ;           
		}
	.blocDroit
		{
			width :80% ;
		}
}